<!DOCTYPE html>
<html>
  <head>
    <title>Spider Bait</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1>Into The Spider Eats</h1>
    <%= link_to "Home", home_path %> | 
    <%= link_to "Franchises", franchises_path %> | 
    <%= link_to "New Franchises", new_franchise_path %> | 
    <%= link_to "Foods", foods_path %> | 
    <%= link_to "New Foods", new_food_path %> | 

    </header>
    <%= yield %>
  </body>
</html>
